name:  Auto merge

on:
  pull_request_review:
    types: [submitted]

jobs:
  merge-on-approval:
    if: ${{ github.event.review.state == 'comment' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - run: gh pr merge "${GITHUB_HEAD_REF}" --merge
