name:  Auto merge

# on:   ##本来はこっちだが、PRのAuthorはapproveできないので検証段階ではPRに対するコメントで代替
#   pull_request_review:
#     types: [submitted]

on:   #PRへのコメントで起動
  pull_request_review_comment:
    types: [created]
  
jobs:
  merge-on-approval:
    # if: ${{ github.event.review.state == 'approved' }}  #Reviewがapproveされたらトリガ
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - run: gh pr merge "${GITHUB_HEAD_REF}" --merge
